h1 {
          color: red;
}
img {
          border-radius: 10px;
}
.about-us h1{
   text-align: center;            
   margin-top: 45px;
   font-size: 50px;
   margin-bottom: 50px;
}
about-us img{
               margin-top: 50px;
               border-radius: 20px;
               margin-left: 1000px;
           }
           
           .about-us p{
               margin-left: 650px;
               margin-top: -500px;
               margin-right: 50px;
               font-size: 15px;
           }